<h1> Listings </h1>

<% if @listings.empty? %>
  No listings to display! Go <%= link_to 'create one', new_listing_path %>.
<% else %>
  <table class="table table-striped">
    <tbody>
      <% @listings.each do |listing| %>
        <tr>
          <td><%= link_to listing.title, listing %></td>
          <td class="text-right">
          Tags <%= raw listing.tag_list.map { |t| link_to t, tag_path(t)}.join(', ') %> |
          Posted <%= time_ago_in_words(listing.created_at) %> ago.
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
